nav,
nav ul,
nav ul li {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    user-select: none;
    z-index: 99999;
    transition: all 0.6s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background: var(--wit);
    height: 10vh;
    width: 100%;
    position: sticky;
}

nav label.logo {
    padding: 0 10vh;
    font-weight: bold;
    height: 3vh;
    cursor: pointer;
}

nav label.logo img {
    height: 10.5vh;
}

nav ul {
    float: right;
    position: fixed;
    width: 40vh;
    height: fit-content;
    background-color: var(--blauw);
    top: 10vh;
    right: -100%;
    margin: 0;
    text-align: center;
    transition: all .5s;
    border-bottom-left-radius: 1vh;
}

nav ul li {
    list-style: none;
    line-height: 6vh;
    display: block;
    margin: 5vh 0;
    line-height: 3vh;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: var(--licht-blauw);
    transition: ease-in-out .5s;
}

nav .checkbtn {
    font-size: 3vh;
    color: var(--zwart);
    float: right;
    line-height: 10vh;
    margin-right: 4vh;
    cursor: pointer;
}

nav .menU {
    font-size: 2vh;
}

nav .inlogKnop,
.registerKnop {
    float: right;
    line-height: 10vh;
    margin-right: 4vh;
    cursor: pointer;
}

nav .inlogKnop button,
nav .registerKnop button {
    background-color: var(--navy-blauw);
    color: var(--wit);
    padding: 1vh;
    border-radius: 0.3vh;
    border: none;
    transition: all .2s;
    cursor: pointer;
}



nav .inlogKnop button:hover, nav .registerKnop button:hover, .registerHyp a{
    background: var(--licht-blauw);
    color: var(--wit);
}

nav #check {
    display: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--wit);
    font-weight: 500;
    font-size: 1.7vh;
    text-transform: uppercase;
    padding: .7vh 1.3vh;
    border-radius: 0.5vh;
}


nav #check:checked~ul {
    right: 0;
}



@media (max-width: 1050px) {
    nav label.logo {
        padding-left: 3vh;
    }


    nav ul li a {
        font-size: 1.6vh;
    }
}

@media (max-width: 890px) {
    nav .checkbtn {
        display: block;
    }

    nav label.logo {
        padding: 0;
        position: relative;
        top: 0;
        left: 3vh;
        content: url(./../Assets/Icons/rijksoverheid.png);
        height: 10vh;
    }

    nav label.logo img {
        display: block;
    }


    nav ul {
        transition: all .5s;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--donker-blauw);
        top: 10vh;
        left: -100%;
        margin: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5vh 0;
        line-height: 3vh;
    }

    nav ul li a {
        font-size: 2vh;
    }

    nav ul li a:hover,
    nav ul li a.active {
        background: none;
        color: var(--licht-blauw);
    }

    nav #check:checked~ul {
        left: 0;
    }
}