@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:wght@100;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth@0,75;1,75&display=swap');

* {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: #ededed;
}

/* ----- SCROLLBAR styling ------ */
::-webkit-scrollbar {
    width: 0.4vw;
    opacity: 0.1;
}

/* knop */
::-webkit-scrollbar-thumb {
    height: 33vh;
    background-color: #686868;
    border-radius: 20vh;
}


/* knop houder */
::-webkit-scrollbar-track {
    background-color: rgb(216, 230, 238);
}


/* Kleur palet  */
:root{
    --zwart: #252525;
    --wit: #FFFFFF;
    --off-wit: #EEF2FF;
    --donker-grijs:#777676;
    --grijs: #dadada;
    --lichtste-blauw: #d9e1fd;
    --licht-blauw:#0984e3;
    --navy-blauw:#01689b;
    --blauw: #033d5a;
    --donker-blauw:#151A2D;
    --fout: #F74850;
    --geel: #FEE900;
    --gradient-donker-licht: linear-gradient(135deg, #033d5a, #0984e3);
    --gradient-licht-donker: linear-gradient(135deg, #0984e3, #033d5a);
    --background-gradient: linear-gradient(120deg, rgba(255, 255, 255), rgba(255, 240, 25, 0.8));
    --background-licht-gradient:linear-gradient(120deg, rgba(255, 255, 255), rgba(255, 240, 25, 0.6));
    --background-blue: rgba(255, 255, 255, 0.8);
}


 