/* -----------------welkom container---------------------  */
.welcomeContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    top: -5px;
    background-image: url("./../Assets/Images/bc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(99px);
    z-index: -1px;
}


/* linker, rechter containers  */
.welcomeContainer .wleft, .welcomeContainer .wright{
    margin: 5vh;
    width: 40%;
    height: fit-content;
}

/* unsorted lists  */
.welcomeContainer .wleft ul, .welcomeContainer .wright ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 3vh;
}


/* linker container  */
.welcomeContainer .wleft{
    background-color: var(--background-blue);
    backdrop-filter: blur(10px);
    padding: 5vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    gap: 5;
}

.welcomeContainer .wleft .wlkm{
    min-width: 40vw;
}

 /* highlight titels */
.welcomeContainer .wleft h2, .welcomeContainer .wright h3{
    color: var(--licht-blauw);
}



/* rechter container */
.welcomeContainer .wright{
    background: var(--background-licht-gradient);
    padding: 5vh;
    width: 35vw;
    border-radius: 1vh;
}


/* highlight login/register  */
.wright span a{
    text-decoration: none;
    background: var(--blauw);
    color: var(--wit);
    padding: 3px;
    border: none;
    font-size: small;
    border-radius: 3px;
}
/* ------------------------------------------------------  */


/* beetje responsive ;P */
@media screen and (max-width: 1000px) {
    .welcomeContainer{
        padding-top: 5vh;
        margin: 0;
        gap: 5vh;
    }
    .welcomeContainer .wright, .welcomeContainer .wleft{
        width: 100vw;
        margin: 0;
        padding: 2vh;
    }
}